# MIME types para audio grabado desde el navegador
<IfModule mod_mime.c>
    AddType audio/webm  .webm .weba
    AddType audio/mp4   .m4a .aac
    AddType audio/ogg   .ogg
    AddType audio/mpeg  .mp3
    AddType audio/wav   .wav
</IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
	
	# Redirección específica
    RewriteRule ^admision-ordinario\.html$ ^admision/admison-ordinario [L,R=301]
	RewriteRule ^programas-profesionalizacion-docente.html\.html$ ^profesionalizacion-docente [L,R=301]
	

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
